@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap');

.app {
  background: #fff;
  height: fit-content;
  width: 600px;
  padding-bottom: 30px;
}

/* Navbar Styles */
nav {
  color: #fff;
  background: rgb(23, 30, 39);
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 30px;
}

.nav-logo {
  height: 100%;
}

section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin: 0 0 0 7px;
}

/* Meme Styles */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 300px;
}

.form-inputs {
  width: 477px;
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 20px;
}

input[type='text'] {
  width: 100%;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 11px;
}

.meme-btn {
  color: #fff;
  background: rgb(23, 30, 39);
  width: 477px;
  height: 40px;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  border-radius: 5px;
  margin-bottom: 36px;
}

.meme {
  position: relative;
}

.meme-img {
  width: 477px;
  object-fit: cover;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

/* Media Queries Styles */
@media screen and (max-width: 920px) {
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-inputs {
    width: 330px;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }

  .app {
    width: 95vw;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .meme-btn {
    width: max-content;
    padding: 0 65px;
  }

  .meme {
    width: auto;
    margin: 0 10px;
  }

  .meme-img {
    width: 100%;
  }

  input[type='text'] {
    width: 165px;
    font-size: 1.6rem;
  }
}
