html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button,
input,
textarea {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}
